<fieldset class="design-color js-fieldset">
<div class="design-color__unfold js_design-color__unfold js-fieldset__header">
  <div class="design-color__description">
    <i class="fa-solid fa-brush design-color__icon "></i>
    <h2 class="design-color__title">diseña</h2>
  </div>
  <div>
  <i class="fa-solid fa-chevron-down design-color__arrow arrowUp js_arrow"></i>
  </div>
</div>
 <div class="color-selection js_color-selection js-fieldset__container">
    <h2 class="color-selection__title">colores</h2>
    <div class="colors">
        <div class="color-one">
          <label for="color-one"></label>
          <input class="color-one__radio js_radio1" type="radio" name ="colors" value="color-one" checked>
            <div class="color-one__colored" id="palette1"></div>
            <div class="color-one__colored" id="palette2"></div>
            <div class="color-one__colored" id="palette3"></div>
            <div class="color-one__colored" id="palette4"></div>
            <div class="color-one__colored" id="palette5"></div>
            <div class="color-one__colored" id="palette6"></div>
         </div>
      <div class="color-two">
        <label for="color-two"></label>
        <input class="color-two__radio js_radio2"type="radio" name="colors" value="color-two">
          <div class="color-two__colored"></div>
          <div class="color-two__colored"></div>
          <div class="color-two__colored"></div>
        </input>
      </div>
      <div class="color-three">
        <label for="color-three"></label>
        <input class="color-three__radio js_radio3" type="radio" name="colors" value="color-three" >
          <div class="color-three__colored"></div>
          <div class="color-three__colored"></div>
          <div class="color-three__colored"></div>
        </input>
      </div> 
      <div class="color-four">
        <label for="color-four"></label>
        <input class="color-four__radio js_radio4" type="radio" name="colors" value="color-four">
          <div class="color-four__colored"></div>
          <div class="color-four__colored"></div>
          <div class="color-four__colored"></div>
        </input>
      </div>
      <div class="color-five">
        <label for="color-five"></label>
        <input class="color-five__radio js_radio5" type="radio" name="colors" value="color-five">
          <div class="color-five__colored"></div>
          <div class="color-five__colored"></div>
          <div class="color-five__colored"></div>
        </input>
      </div>
      <div class="color-six">
        <label for="color-six"></label>
        <input class="color-six__radio js_radio6" type="radio" name="colors" value="color-six">
        <div class="color-six__colored"></div>
        <div class="color-six__colored"></div>
        <div class="color-six__colored"></div>
        </input>
      </div>
    </div>    
</fieldset>
<div class="separator"></div>