<fieldset class="design-color">
<div class="design-color__unfold">
  <div class="design-color__description">
    <i class="fa-solid fa-brush design-color__icon "></i>
    <h2 class="design-color__title">diseña</h2>
  </div>
  <div>
  <i class="fa-solid fa-chevron-down design-color__arrow"></i>
  </div>
</div>
 <div class="color-selection">
    <h2 class="color-selection__title">colores</h2>
    <div class="colors">
        <div class="color-one">
          <label for="color-one"></label>
          <input class="color-one__radio" type="radio" name ="colors" value="color-one">
            <div class="color-one__colored"></div>
            <div class="color-one__colored"></div>
            <div class="color-one__colored"></div>
          </input>
        </div>
      <div class="color-two">
        <label for="color-two"></label>
        <input class="color-two__radio"type="radio" name="colors" value="color-two">
          <div class="color-two__colored"></div>
          <div class="color-two__colored"></div>
          <div class="color-two__colored"></div>
        </input>
      </div>
      <div class="color-three">
        <label for="color-three"></label>
        <input class="color-three__radio" type="radio" name="colors" value="color-three" >
          <div class="color-three__colored"></div>
          <div class="color-three__colored"></div>
          <div class="color-three__colored"></div>
        </input>
      </div>      
    </div>    
</fieldset>
<div class="separator"></div>