<fieldset class="design__color">
<div>
  <div class="design-color__description">
    <h2 class="design-color__title">Diseño</h2>
    <i class="fa-solid fa-brush design-color__icon "></i>
  </div>
  <div>
  <i class="fa-solid fa-chevron-down design-color__arrow"></i>
  </div>
</div>
 <div class="color-selection">
    <h2 class="color-selection__title">colores</h2>
    <div class="colors">
      <label for="color_one"></label>
      <input class="color_one" name ="color_one"type="radio">
        <div></div>
        <div></div>
        <div></div>
      </input>
      <label for="color_two"></label>
      <input class="color_two" name="color_two" type="radio">
        <div></div>
        <div></div>
        <div></div>
      </input>
      <label for="color_three"></label>
      <input class="color_three" name="color_three" type="radio">
        <div></div>
        <div></div>
        <div></div>
    </input>
    </div>
</fieldset>