
<body>
    <main class="main">
        <section class="main__cuadrotexto">
            <form class="main__form" action="">
                <label class="main__form--label" for="name">
                    <span class="main__form--span">Ej: Sally Hill</span>
                    <input class="casillarespuesta" type="text" id="name" name="name" placeholder="Nombre..."
                        required />
                </label>
                <label class="main__form--label" for="job">
                    <span class="main__form--span">Puesto</span>
                    <input class="casillarespuesta" type="text" id="job" name="job" placeholder="Ej: Front-end unicorn"
                        required />
                </label>
                <nav>
                    <div class="botom"><a class="añadir-imagen" href="https://adalab.es">Añadir imagen</a></div>
                </nav>
                <label class="main__form--label" for="email">
                    <span class="main__form--span">Email</span>
                    <input class="casillarespuestaemail" type="email" id="email" name="email"
                        placeholder="Ej: sally-hill@gmail.com" required />
                </label>
                <label class="main__form--label" for="phone" class="main__form--tlf">
                    <span class="main__form--span">Teléfono</span>
                    <input class="casillarespuestatlf" type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55" />
                </label>
                <label class="main__form--label" for="linkedin">
                    <span class="main__form--span">Linkedin</span>
                    <input class="casillarespuesta" type="text" id="linkedin" name="linkedin"
                        placeholder="Ej: linkedin.com/in/sally.hill" required />
                </label>
                <label class="main__form--label" for="github">
                    <span class="main__form--span">Github</span>
                    <input class="casillarespuesta" type="text" id="github" name="github" placeholder="Ej: @sally-hill"
                        required />
                </label>
            </form>
    </main>
    </section>
</body>
