<main>
    <h1 class="title_main">Crea tu tarjeta de visita</h1>
<p class="main_text">Crea mejores contactos profesionales de <br>forma fácil y cómoda</p>
<div class="container_list">
<article>
    <p class="item_main"><i class="fa-solid fa-brush" style="color: #e17334;"></i></p>
    <p class="item_main2">Diseña</p>
    
    
</article>
<article>
     <p class="item_main"><i class="fa-solid fa-keyboard" style="color: #e17334;"></i></p>
    <p class="item_main2">Rellena</p>
   
</article>
<article>
  <p class="item_main"><i class="fa-solid fa-share-nodes" style="color: #e17334;"></i></p>
  <p class="item_main2">Comparte</p>  
</article>
</div>
<div class="button_2">
<button class="button_start"><a href="./cardCreator.html">COMENZAR</a></button>
</div>
</main>