    <button class="preview__button">
      <i class="fa-regular fa-trash-can"></i> RESET
    </button>
    <article class="preview__card">
      <div class="preview__card--title">
        <h3 class="preview__card--name">Nombre Apellido</h3>
        <p class="preview__card--job">Front-end developer</p>
      </div>
      <img src="./assets/images/preview-card-img.jpg" alt="Card Preview" class="preview__card--img" />
      <nav class="preview__card--nav">
        <ul>
          <li><i class="fa-solid fa-mobile-screen-button"></i></li>
          <li><i class="fa-regular fa-envelope"></i></li>
          <li><i class="fa-brands fa-linkedin-in"></i></li>
          <li><i class="fa-brands fa-github-alt"></i></li>
        </ul>
      </nav>
    </article>