    <button class="preview__button js_btnreset">
      <i class="fa-regular fa-trash-can"></i> RESET
    </button>
    <article class="preview__card js_preview-card palette1">
      <div class="preview__card--title">
        <h3 class="preview__card--name js-preview-name">Nombre Apellido</h3>
        <p class="preview__card--job js-preview-job">Office Manager</p>
      </div>
          <div class=" preview__card--img profile__image js__profile-image"></div>
      <nav class="preview__card--nav">
        <ul>
          <li><a href="js_mobile"><i class="fa-solid fa-mobile-screen-button pIcon"></a></i></li>
          <li><a class="js_mail" href=""><i class="fa-regular fa-envelope pIcon"></i></a></li>
          <li><a class="js_linkedin" href="" ><i class="fa-brands fa-linkedin-in pIcon"></i></a></li>
          <li><a class="js_github" href=""><i class="fa-brands fa-github-alt pIcon"></i></a></li>
        </ul>
      </nav>
    </article>