<fieldset class="share">
    <div class="share__unfold">
      <div class="share__description">
        <i class="fa-solid fa-share-nodes" style="color: #e17334;"></i>
        <h2 class="share__title">compartir</h2>
      </div>
      <div>
      <i class="fa-solid fa-chevron-down share__arrow"></i>
      </div>
    </div>
  </fieldset>  
  
  <button class="botom-share">
    <i class="botom-share-i fa-solid fa-address-card"></i>
  
    <a class="Crear-tarjeta" href="">CREAR TARJETA</a>
  </button>
  
  <div class="separador"></div>
  
  <div class="tarjeta">
    La tarjeta ha sido creada:
  </div>
  
  <span class="url">
    https://awesome-profile-card.com?id=A456DF0001
  </span>
  
  <button class="twitter">
    <img class="iconot" src="./assets/images/twitter (3).svg" alt="iconot">
  
    <a class="url1" href="https://twitter.com/">Compartir en Twitter</a>
  </button>
  
  <div class="separador2"></div>