<fieldset class="share js-fieldset">
  <div class="share__unfold js_share__unfold js-fieldset__header">
    <div class="share__description">
      <i class="fa-solid fa-share-nodes" style="color: #e17334"></i>
      <h2 class="share__title">comparte</h2>
    </div>
    <div>
      <i class="fa-solid fa-chevron-down share__arrow js_arrow"></i>
    </div>
  </div>
<section class="section_share js_share collapsed js-fieldset__container">
  <button class="botom-share">
    <i class="botom-share-i fa-solid fa-address-card"></i>
    <a class="Create-card" href="">CREAR TARJETA</a>
  </button>
  <div class="separator2"></div>
  <div class="share-success js_share-success ">
    <div class="Card">La tarjeta ha sido creada:</div>
    <span class="url"> https://awesome-profile-card.com?id=A456DF0001 </span>
    <button class="twitter">
      <i class="fa-brands fa-twitter twitter-i"></i>
      <a class="url-twitter" href="">Compartir en Twitter</a>
    </button>
  </div>
</section>
</fieldset>
<div class="separator2"></div>
