@mixin bluedesign {
  .preview {
    &__card {
      &--title {
        border-left: 5px solid $dirty-blue;
      }
      &--name {
        color: $dark-green-blue;
      }
      &--nav {
        ul {
          color: $dark-green-blue;
        }
        li {
          border: 2px solid $hospital-green;
        }
      }
    }
  }
}

@mixin reddesign {
  .preview {
    &__card {
      &--title {
        border-left: 5px solid $rusty-red;
      }
      &--name {
        color: $dried-blood;
      }
      &--nav {
        ul {
          color: $dried-blood;
        }
        li {
          border: 2px solid $tomato;
        }
      }
    }
  }
}

@mixin greydesign {
  .preview {
    &__card {
      &--title {
        border-left: 5px solid $faded-orange;
      }
      &--name {
        color: $slate;
      }
      &--nav {
        ul {
          color: $slate;
        }
        li {
          border: 2px solid $light-grey-blue;
        }
      }
    }
  }
}
