// fonts
$main-title: 'Merriweather',
serif;
$preview-title: 'Montserrat',
sans-serif;
$primary-text: 'Open Sans',
sans-serif;

// colors
$light-khaki: #f9f4dc;
$black-20: rgba(0, 0, 0, 0.2);
$tomato: #e95626;
$dried-blood: #420101;
$rusty-red: #bd1010;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$azure: #00a0f5;
$white: #d5d5d5;
$black: #000;
$gunmetal: #54585a;
$brownish-grey: #6b6b6b;
$slate: #3e5b65;
$white-two: #fff;
$hospital-green: #a2deaf;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$dull-orange: #e17334;
$white-three: #d8d8d8;
$white-four: #f5f5f5;
$pinkish-grey: #c5c5c5;
$black-32: rgba(0, 0, 0, 0.32);
$purple-one: purple;
$purple-two: rgb(195, 0, 195);
$purple-three: rgb(195, 0, 195);
$green-one: rgb(0, 128, 21);
$green-two: rgb(128, 201, 50);
$green-three: rgb(188, 254, 82);
$orange-one: rgb(249, 148, 6);
$orange-two: rgb(249, 208, 125);
$orange-three: rgb(240, 124, 16);
