.design-color {
  border: 0;

  &__unfold {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__description {
    display: flex;
    align-items: center;
  }

  &__icon {
    color: $dull-orange;
  }

  &__title {
    padding-left: 10px;
    font-size: 18px;
    color: $gunmetal;
    font-family: $primary-text;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__arrow {
    color: $gunmetal;
  }
}

.color-selection {
  display: flex;
  justify-content: space-between;

  &__title {
    margin-top: 22px;
    font-size: 14px;
    font-family: $primary-text;
    color: $gunmetal;
    text-transform: uppercase;
  }
}

.colors {
  margin-top: 22px;
}

.color-one {
  margin-bottom: 20px;
  display: flex;

  &__colored {
    width: 30px;
    height: 25px;

    &:nth-child(3) {
      margin-left: 10px;
      background-color: $dark-green-blue;
    }

    &:nth-child(4) {
      background-color: $dirty-blue;
    }

    &:nth-child(5) {
      background-color: $hospital-green;
    }
  }
}

.color-two {
  margin-bottom: 20px;
  display: flex;

  &__colored {
    width: 30px;
    height: 25px;

    &:nth-child(3) {
      margin-left: 10px;
      background-color: $dried-blood;
    }

    &:nth-child(4) {
      background-color: $rusty-red;
    }

    &:nth-child(5) {
      background-color: $tomato;
    }
  }
}

.color-three {
  margin-bottom: 20px;
  display: flex;

  &__colored {
    width: 30px;
    height: 25px;

    &:nth-child(3) {
      margin-left: 10px;
      background-color: $slate;
    }

    &:nth-child(4) {
      background-color: $faded-orange;
    }

    &:nth-child(5) {
      background-color: $light-grey-blue;
    }
  }
}

.color-four {
  margin-bottom: 20px;
  display: flex;

  &__colored {
    width: 30px;
    height: 25px;

    &:nth-child(3) {
      margin-left: 10px;
      background-color: purple;
    }

    &:nth-child(4) {
      background-color: rgb(195, 0, 195);
    }

    &:nth-child(5) {
      background-color: rgb(245, 2, 245);
    }
  }
}

.color-five {
  margin-bottom: 20px;
  display: flex;

  &__colored {
    width: 30px;
    height: 25px;

    &:nth-child(3) {
      margin-left: 10px;
      background-color: rgb(0, 128, 21);
    }

    &:nth-child(4) {
      background-color: rgb(128, 201, 50);
    }

    &:nth-child(5) {
      background-color: rgb(188, 254, 82);
    }
  }
}

.color-six {
  margin-bottom: 20px;
  display: flex;

  &__colored {
    width: 30px;
    height: 25px;

    &:nth-child(3) {
      margin-left: 10px;
      background-color: rgb(249, 148, 6);
    }

    &:nth-child(4) {
      background-color: rgb(249, 208, 125);
    }

    &:nth-child(5) {
      background-color: rgb(240, 124, 16);
    }
  }
}

.separator {
  border: 1px solid $white-three;
  width: 87.5vw;
  margin-top: 10px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    width: 329px;
  }
}

.palette1 {
  .preview__card--title {
    border-color: $dirty-blue;
  }

  .preview__card--name {
    color: $dark-green-blue;
  }

  .preview__card--nav li  {
    border-color: $hospital-green;
  }

  .preview__card--nav .pIcon {
    color: $dark-green-blue;
  }
}

.palette2 {
  .preview__card--title {
    border-color: $rusty-red;
  }

  .preview__card--name {
    color: $dried-blood;
  }

  .preview__card--nav li {
    border-color: $tomato;
  }

  .preview__card--nav .pIcon {
    color: $dried-blood;
  }
}

.palette3 {
  .preview__card--title {
    border-color: $faded-orange;
  }

  .preview__card--name {
    color: $slate;
  }

  .preview__card--nav li {
    border-color: $light-grey-blue;
  }

  .preview__card--nav .pIcon {
    color: $slate;
  }
}

.palette4 {
  .preview__card--title {
    border-color: $purple-one;
  }

  .preview__card--name {
    color: $purple-three;
  }

  .preview__card--nav li {
    border-color: $purple-two;
  }

  .preview__card--nav .pIcon {
    color: $purple-three;
  }
}

.palette5 {
  .preview__card--title {
    border-color: $green-one;
  }

  .preview__card--name {
    color: $green-two;
  }

  .preview__card--nav li {
    border-color: $green-three;
  }

  .preview__card--nav .pIcon {
    color: $green-two;
  }
}

.palette6 {
  .preview__card--title {
    border-color: $orange-one;
  }

  .preview__card--name {
    color: $orange-two;
  }

  .preview__card--nav li {
    border-color: $orange-three;
  }

  .preview__card--nav .pIcon {
    color: $orange-two;
  }
}

.collapsed {
  display: none;
}