.header {
  background-color: $white-two;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 111px;
}
.header__logo {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    align-items: flex-start;
  }

  .header__logo {
    margin-left: 40px;
    margin-right: 527px;
  }
}