.page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white-four;
}
.title_main {
  font-size: 19.2px;
  font-family: $main-title;
  color: $dull-orange;
  text-align: center;
}

.main_text {
  font-size: 12.8px;
  color: $dark-green-blue;
  font-family: $primary-text;
  text-align: center;
}

.container_list {
  border-radius: 4px;
  width: 268px;
  height: 73.8px;
  border: 1px solid rgba(225, 115, 52, .21);
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 17.8px;
  margin-bottom: 38.6px;
  gap: 35px;
  align-items: center;
}

.button_start {
  text-align: center;
  color: $white-two;
  font-family: $primary-text;
  font-size: 16px;
  background-color: $dirty-blue;
  border: none;
}

.button_2 {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: 129px;
  height: 42px;
  border-radius: 21px;
  background-color: $dirty-blue;
  
  a {
    text-decoration: none;
    color: $white-two;
  }
}

.item_main {
  font-size: 22.4px;
  display: flex;
  justify-content: center;
}

.item_main2 {
  font-size: 12.8px;
  color: $gunmetal;
  font-family: $primary-text;
  list-style: none;
}

main {
  background-color: $white-four;
  padding-bottom: 30px;
  
  
}

@media screen and (min-width: 768px) {
  .title_main {
    font-size: 24px;
  }
  
  .main_text {
    font-size: 16px;
    padding-bottom: 27px;
  }
  
  .item_main {
    font-size: 28px;
  }

  .item_main2 {
    font-size: 16px;
  }

  main {
    padding-bottom: 59px;
  }
  .container_list{
    width: 325px;
    height: 86px;
  }
}