.preview {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../images/bg-tile.png);
  padding: 38px 35px 40px 45px;
  display: grid;
  grid-template-rows: 45px auto;
  justify-content: center;
  align-content: center;
  height: 457px;
  
  &__button {
    width: 75px;
    height: 30px;
    border: 1px $white-two solid;
    border-radius: 15px;
    background-color: $silver;
    color: $gunmetal;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__card {
    width: 240px;
    background-color: $white-two;
    padding-top: 21px;
    padding-bottom: 12px;
    box-shadow: 0 1px 10px 0 $black-20, 0 1px 3px 0 $black-32;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--title {
      margin-bottom: 10px;
    }

    &--name {
      padding-left: 15px;
      font-size: 18px;
    }
    &--img {
      background-image: url(../images/preview-card-img.jpg);
      width: 240px;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--job {
      padding-left: 15px;
      color: $gunmetal;
      font-size: 16px;
    }

    &--nav {
      margin-top: 10px;
      margin-left: 20px;

      ul {
        list-style: none;
        font-size: 18px;
        display: flex;
        gap: 10px;
      }

      li {
        height: 32px;
        width: 32px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.bluedesign {
  .preview {
    &__card {
      &--title {
        border-left: 5px solid $dirty-blue;
      }
      &--name {
        color: $dark-green-blue;
      }
      &--nav {
        ul {
          color: $dark-green-blue;
        }
        li {
          border: 2px solid $hospital-green;
        }
      }
    }
  }
}

.reddesign {
  .preview {
    &__card {
      &--title {
        border-left: 5px solid $rusty-red;
      }
      &--name {
        color: $dried-blood;
      }
      &--nav {
        ul {
          color: $dried-blood;
        }
        li {
          border: 2px solid $tomato;
        }
      }
    }
  }
}

.greydesign {
  .preview {
    &__card {
      &--title {
        border-left: 5px solid $faded-orange;
      }
      &--name {
        color: $slate;
      }
      &--nav {
        ul {
          color: $slate;
        }
        li {
          border: 2px solid $light-grey-blue;
        }
      }
    }
  }
}

.purpledesign {
  .preview {
    &__card {
      &--title {
        border-left: 5px solid $purple-one;
      }

      &--name {
        color: $purple-two;
      }

      &--nav {
        ul {
          color: $purple-two;
        }

        li {
          border: 2px solid $purple-three;
        }
      }
    }
  }
}

.greendesign {
  .preview {
    &__card {
      &--title {
        border-left: 5px solid $green-one;
      }

      &--name {
        color: $green-two;
      }

      &--nav {
        ul {
          color: $green-two;
        }

        li {
          border: 2px solid $green-three;
        }
      }
    }
  }
}

.orangedesign {
  .preview {
    &__card {
      &--title {
        border-left: 5px solid $orange-one;
      }

      &--name {
        color: $orange-two;
      }

      &--nav {
        ul {
          color: $orange-two;
        }

        li {
          border: 2px solid $orange-three;
        }
      }
    }
  }
}
